<a href="https://colab.research.google.com/github/kazhar6821/spark-this-way1/blob/main/Tutorial_1_PySpark_DataFrames_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install spark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 1.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58748 sha256=b3edddd3e48192de9d7da1411900f471c9194aa6b788405fbb690d4547ffa240
  Stored in directory: /root/.cache/pip/wheels/67/c2/7c/a53325365fba358ffff35af84a2e14cf88c18052f88acfa5f0
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------------+---+----------+------+
|         Name|Age|Experience|Salary|
+-------------+---+----------+------+
|     John Doe| 28|         5| 60000|
|   Jane Smith| 32|         8| 75000|
| Mike Johnson| 24|         2| 45000|
|    Sarah Lee| 29|         4| 55000|
|  David Brown| 35|        10| 90000|
|  Emily Davis| 27|         3| 50000|
|Robert Taylor| 40|        15|110000|
+-------------+---+----------+------+

# New Section

In [ ]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='John Doe', Age=28, Experience=5, Salary=60000),
 Row(Name='Jane Smith', Age=32, Experience=8, Salary=75000),
 Row(Name='Mike Johnson', Age=24, Experience=2, Salary=45000)]

In [ ]:
df_pyspark.show(4)

+------------+---+----------+------+
|        Name|Age|Experience|Salary|
+------------+---+----------+------+
|    John Doe| 28|         5| 60000|
|  Jane Smith| 32|         8| 75000|
|Mike Johnson| 24|         2| 45000|
|   Sarah Lee| 29|         4| 55000|
+------------+---+----------+------+
only showing top 4 rows

In [ ]:
df_pyspark.select(['Name','Experience']).show()

+-------------+----------+
|         Name|Experience|
+-------------+----------+
|     John Doe|         5|
|   Jane Smith|         8|
| Mike Johnson|         2|
|    Sarah Lee|         4|
|  David Brown|        10|
|  Emily Davis|         3|
|Robert Taylor|        15|
+-------------+----------+

In [ ]:
df_pyspark['Name']

Column<'Name'>

In [ ]:
df_pyspark['Name']

Column<'Name'>

In [ ]:
df_pyspark.describe().show()

+-------+-----------+------------------+------------------+-----------------+
|summary|       Name|               Age|        Experience|           Salary|
+-------+-----------+------------------+------------------+-----------------+
|  count|          7|                 7|                 7|                7|
|   mean|       NULL|30.714285714285715| 6.714285714285714|69285.71428571429|
| stddev|       NULL| 5.407226205560041|4.6084807950229365|23704.53040886408|
|    min|David Brown|                24|                 2|            45000|
|    max|  Sarah Lee|                40|                15|           110000|
+-------+-----------+------------------+------------------+-----------------+

In [ ]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+3)

In [ ]:
df_pyspark.show()

+-------------+---+----------+------+-----------------------+
|         Name|Age|Experience|Salary|Experience After 2 year|
+-------------+---+----------+------+-----------------------+
|     John Doe| 28|         5| 60000|                      8|
|   Jane Smith| 32|         8| 75000|                     11|
| Mike Johnson| 24|         2| 45000|                      5|
|    Sarah Lee| 29|         4| 55000|                      7|
|  David Brown| 35|        10| 90000|                     13|
|  Emily Davis| 27|         3| 50000|                      6|
|Robert Taylor| 40|        15|110000|                     18|
+-------------+---+----------+------+-----------------------+

In [ ]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [ ]:
df_pyspark.show()

+-------------+---+----------+------+
|         Name|Age|Experience|Salary|
+-------------+---+----------+------+
|     John Doe| 28|         5| 60000|
|   Jane Smith| 32|         8| 75000|
| Mike Johnson| 24|         2| 45000|
|    Sarah Lee| 29|         4| 55000|
|  David Brown| 35|        10| 90000|
|  Emily Davis| 27|         3| 50000|
|Robert Taylor| 40|        15|110000|
+-------------+---+----------+------+

In [ ]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+-------------+---+----------+------+
|     New Name|Age|Experience|Salary|
+-------------+---+----------+------+
|     John Doe| 28|         5| 60000|
|   Jane Smith| 32|         8| 75000|
| Mike Johnson| 24|         2| 45000|
|    Sarah Lee| 29|         4| 55000|
|  David Brown| 35|        10| 90000|
|  Emily Davis| 27|         3| 50000|
|Robert Taylor| 40|        15|110000|
+-------------+---+----------+------+