<a href="https://colab.research.google.com/github/kazhar6821/spark-this-way1/blob/main/Tutorial_4_PySpark_Aggregations_Less_Chaos%2C_More_Insights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [4]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|   Oliver|Data Science| 10000|
|   Sophie|         IOT|  5000|
|    Lukas|    Big Data|  4000|
|     Emma|    Big Data|  4000|
|     Noah|Data Science|  3000|
| Isabella|Data Science| 20000|
|     Liam|         IOT| 10000|
|      Mia|    Big Data|  5000|
|    Ethan|Data Science| 10000|
|Charlotte|    Big Data|  2000|
+---------+------------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
| Isabella|      20000|
|     Noah|       3000|
|    Ethan|      10000|
|      Mia|       5000|
|    Lukas|       4000|
|   Sophie|       5000|
|     Liam|      10000|
|   Oliver|      10000|
|     Emma|       4000|
|Charlotte|       2000|
+---------+-----------+

In [8]:
df_pyspark.groupBy('Name').avg().show()

+---------+-----------+
|     Name|avg(Salary)|
+---------+-----------+
| Isabella|    20000.0|
|     Noah|     3000.0|
|    Ethan|    10000.0|
|      Mia|     5000.0|
|    Lukas|     4000.0|
|   Sophie|     5000.0|
|     Liam|    10000.0|
|   Oliver|    10000.0|
|     Emma|     4000.0|
|Charlotte|     2000.0|
+---------+-----------+

In [9]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [10]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [11]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [12]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+