<a href="https://colab.research.google.com/github/kazhar6821/spark-this-way1/blob/main/Tutorial_3_PySpark_DataFrames_Filter_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [ ]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------------+---+----------+------+
|         Name|Age|Experience|Salary|
+-------------+---+----------+------+
|     John Doe| 28|         5| 60000|
|   Jane Smith| 32|         8| 75000|
| Mike Johnson| 24|         2| 45000|
|    Sarah Lee| 29|         4| 55000|
|  David Brown| 35|        10| 90000|
|  Emily Davis| 27|         3| 50000|
|Robert Taylor| 40|        15|110000|
+-------------+---+----------+------+

In [ ]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=50000").show()

+------------+---+----------+------+
|        Name|Age|Experience|Salary|
+------------+---+----------+------+
|Mike Johnson| 24|         2| 45000|
| Emily Davis| 27|         3| 50000|
+------------+---+----------+------+

In [ ]:
df_pyspark.filter("Salary<=50000").select(['Name','age']).show()

+------------+---+
|        Name|age|
+------------+---+
|Mike Johnson| 24|
| Emily Davis| 27|
+------------+---+

In [ ]:
df_pyspark.filter(df_pyspark['Salary']<=50000).show()

+------------+---+----------+------+
|        Name|Age|Experience|Salary|
+------------+---+----------+------+
|Mike Johnson| 24|         2| 45000|
| Emily Davis| 27|         3| 50000|
+------------+---+----------+------+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<=50000) |
                  (df_pyspark['Salary']>=203000)).show()

+------------+---+----------+------+
|        Name|Age|Experience|Salary|
+------------+---+----------+------+
|Mike Johnson| 24|         2| 45000|
| Emily Davis| 27|         3| 50000|
+------------+---+----------+------+

In [ ]:
df_pyspark.filter(~(df_pyspark['Salary']<=50000)).show()

+-------------+---+----------+------+
|         Name|Age|Experience|Salary|
+-------------+---+----------+------+
|     John Doe| 28|         5| 60000|
|   Jane Smith| 32|         8| 75000|
|    Sarah Lee| 29|         4| 55000|
|  David Brown| 35|        10| 90000|
|Robert Taylor| 40|        15|110000|
+-------------+---+----------+------+