<a href="https://colab.research.google.com/github/kazhar6821/spark-this-way1/blob/main/Tutorial_2_PySpark_DataFrame_Missing_Values_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| koko|  31|        10| 30000|
| laby|  30|         8| 25000|
| naks|  29|         4| 20000|
| fush|  24|         3| 20000|
| haki|  21|         1| 15000|
|bytrt|  23|         2| 18000|
|sotks|NULL|      NULL| 40000|
| NULL|  34|        10| 38000|
| NULL|  36|      NULL|  NULL|
+-----+----+----------+------+

In [ ]:
##drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [ ]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| koko|  31|        10| 30000|
| laby|  30|         8| 25000|
| naks|  29|         4| 20000|
| fush|  24|         3| 20000|
| haki|  21|         1| 15000|
|bytrt|  23|         2| 18000|
|sotks|NULL|      NULL| 40000|
| NULL|  34|        10| 38000|
| NULL|  36|      NULL|  NULL|
+-----+----+----------+------+

In [ ]:
df_pyspark.na.drop().show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| koko| 31|        10| 30000|
| laby| 30|         8| 25000|
| naks| 29|         4| 20000|
| fush| 24|         3| 20000|
| haki| 21|         1| 15000|
|bytrt| 23|         2| 18000|
+-----+---+----------+------+

In [ ]:
df_pyspark.na.drop(how="any").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| koko| 31|        10| 30000|
| laby| 30|         8| 25000|
| naks| 29|         4| 20000|
| fush| 24|         3| 20000|
| haki| 21|         1| 15000|
|bytrt| 23|         2| 18000|
+-----+---+----------+------+

In [ ]:
df_pyspark.na.drop(how="any",thresh=3).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| koko| 31|        10| 30000|
| laby| 30|         8| 25000|
| naks| 29|         4| 20000|
| fush| 24|         3| 20000|
| haki| 21|         1| 15000|
|bytrt| 23|         2| 18000|
| NULL| 34|        10| 38000|
+-----+---+----------+------+

In [ ]:
##Subset
df_pyspark.na.drop(how="any",subset=['Age']).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| koko| 31|        10| 30000|
| laby| 30|         8| 25000|
| naks| 29|         4| 20000|
| fush| 24|         3| 20000|
| haki| 21|         1| 15000|
|bytrt| 23|         2| 18000|
| NULL| 34|        10| 38000|
| NULL| 36|      NULL|  NULL|
+-----+---+----------+------+

In [ ]:
from pyspark.sql.functions import col

df_pyspark = df_pyspark.withColumn('age', col('age').cast('string'))
df_pyspark = df_pyspark.withColumn('Experience', col('Experience').cast('string'))
df_pyspark = df_pyspark.na.fill({'Experience': 'Missing Values', 'age': 'Missing Values'})
df_pyspark.show()

+-----+--------------+--------------+------+
| Name|           age|    Experience|Salary|
+-----+--------------+--------------+------+
| koko|            31|            10| 30000|
| laby|            30|             8| 25000|
| naks|            29|             4| 20000|
| fush|            24|             3| 20000|
| haki|            21|             1| 15000|
|bytrt|            23|             2| 18000|
|sotks|Missing Values|Missing Values| 40000|
| NULL|            34|            10| 38000|
| NULL|            36|Missing Values|  NULL|
+-----+--------------+--------------+------+

In [ ]:
df_pyspark.show()

+-----+--------------+--------------+------+
| Name|           age|    Experience|Salary|
+-----+--------------+--------------+------+
| koko|            31|            10| 30000|
| laby|            30|             8| 25000|
| naks|            29|             4| 20000|
| fush|            24|             3| 20000|
| haki|            21|             1| 15000|
|bytrt|            23|             2| 18000|
|sotks|Missing Values|Missing Values| 40000|
| NULL|            34|            10| 38000|
| NULL|            36|Missing Values|  NULL|
+-----+--------------+--------------+------+

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = false)
 |-- Experience: string (nullable = false)
 |-- Salary: integer (nullable = true)

In [ ]:
from pyspark.sql.functions import col

df_pyspark = df_pyspark.withColumn('Experience', col('Experience').cast('double'))

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Experience', 'Salary'],
    outputCols=['Experience_imputed', 'Salary_imputed']
).setStrategy("mean")

df_pyspark = imputer.fit(df_pyspark).transform(df_pyspark)
df_pyspark.show()

+-----+--------------+----------+------+------------------+--------------+
| Name|           age|Experience|Salary|Experience_imputed|Salary_imputed|
+-----+--------------+----------+------+------------------+--------------+
| koko|            31|      10.0| 30000|              10.0|         30000|
| laby|            30|       8.0| 25000|               8.0|         25000|
| naks|            29|       4.0| 20000|               4.0|         20000|
| fush|            24|       3.0| 20000|               3.0|         20000|
| haki|            21|       1.0| 15000|               1.0|         15000|
|bytrt|            23|       2.0| 18000|               2.0|         18000|
|sotks|Missing Values|      NULL| 40000| 5.428571428571429|         40000|
| NULL|            34|      10.0| 38000|              10.0|         38000|
| NULL|            36|      NULL|  NULL| 5.428571428571429|         25750|
+-----+--------------+----------+------+------------------+--------------+